<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/d826522152.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<nav id="navbar">
    <a id="home" href="/home">Home</a>
    <a id="signup" href="/signup">Sign up</a>
    <a id="login" href="/login">Log in</a>
</nav>
<body>
    <%-body%>
    <div id="footer">
        <section id="social" class="bg-mountbatten">
            <h2>Social Media</h2>
            <p>Connect with the creator of this awesome website!!</p>
            <ul class="social-ul">
                <li><a id="profile-link" href="https://github.com/grantwhiteman" target="_blank"><i
                            class="fab fa-github"></i></a></li>
                <li><a href="https://linkedin.com/in/grantwhiteman" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://instagram.com/grant_whiteman_" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </section>
        <footer>Made with <i class="fas fa-heart"></i> by Grant Whiteman</footer> 
    </div>

</body>
</html>