<header>Create your account</header>
<div class="form">
    <form action="signup/new" method="POST">
        <label for="username">Username</label>
        <input id="input-username" type="text" name="username" placeholder="Enter username" required>
        <label for="name">Name</label>
        <input id="input-name" type="text" name="name" placeholder="Enter name" required>
        <label for="email">Email</label>
        <input id="input-email" type="email" name="email" placeholder="Enter email" required>
        <label for="password">Password</label>
        <input id="input-password" type="password" name="password" placeholder="Enter password" required>
        <button id="submit">Create account</button>
    </form>
</div>
<div class="form">
    <p>Already a member?</p>
</div>
<div class="form">
    <a id="login" href="/login">Log in</a>
</div>